// * {
//       border-style: solid;
//       border-color: #000;
//       border-width: 0.5px;
//   }

body {
  color: #636363;
  font-family: Poppins, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #feffff;
  display: block;
  flex-direction: column;
  justify-content: center;
}

.container {
  width: 1140px;
  margin: 0px auto;
  margin-top: 0;
  background: #feffff;
  padding: 20px;
  box-shadow: 0 20px 25px -5px rgba(177, 177, 177, 0.1),
    0 10px 10px -5px rgba(191, 191, 191, 0.04);
}

header {
  margin: 1rem 20px;
  min-height: 50px;
  padding: 0;
  text-align: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-wrap: wrap;

    .button-overflow {
      display: block !important;
    }

    .open {
      display: flex;
      width: 100%;
      margin-bottom: 3rem;
      margin: 3rem 1rem;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      min-height: 50vh;
    }
  }

  .button-overflow {
    display: none;
    font-size: xx-large;
  }

  nav {
    @media (max-width: 768px) {
      display: none;
      width: max-content;
    }
    margin-left: auto;
    justify-content: flex-start;
    display: flex;
    flex-basis: auto;
    align-items: center;
    gap: 3rem;

    a {
      @media (max-width: 768px) {
        width: inherit;
        text-align: center;
      }
      color: #636363;
      text-decoration: none;
      font-size: 22px;
      font-weight: 500;
    }

    a:hover {
      color: #939393;
    }

  }
  .button {
    background-color: #93a93a;
  }

  .button:hover {
    background-color: #a7c445;
    color: white;
  }
}

.section {
  padding: 20px;
  background: #fff;
}

#logo img {
  max-width: 5rem;
}

.title {
  font-size: 2em;
  font-weight: bold;
  color: #333;
  margin: 20px 0;
  //padding: 10px;
}

.social_sponsor {
  align-items: center;
  background-color: #cbcbcb;
  display: flex;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.license {
  background-color: #6f9a6c;
  font-size: 22px;
  color: white;
}

#license_text {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.source-link {
  margin-left: auto;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.button {
  color: white;
  transition: all 0.3s;
  padding: 8px 20px;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
}

.telegram.button {
  background: #34ace1 !important;
  color: white;
}

/* Contenitore della lista di icone social */

.social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center !important;
  justify-content: center;
}

.social-link {
  margin: 0;

  a {
    /* Larghezza "cerchio" icona */
    width: 40px;

    /* Altezza "cerchio" icona */
    height: 40px;

    /* Colore di sfondo di default */
    background-color: currentColor;

    /* Rende il contenitore circolare */
    border-radius: 50%;

    /* Bianco */
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 24px;
      height: 24px;
    }

    svg path {
      fill: #fff;
    }
  }
}

/* Lo stile dell'ancora che contiene l'icona */

/* Al passaggio del mouse */

/* Imposta il colore di default dei tracciati SVG */

/* --- COLORI BRAND PER OGNI SOCIAL --- */

.wp-social-link-telegram a {
  color: #229ed9;
}

.wp-social-link-youtube a {
  color: #ff0000;
}

.wp-social-link-twitch a {
  color: #9146ff;
}

.wp-social-link-github a {
  color: #181717;
}

.wp-social-link-instagram a {
  color: #e1306c;
}

.wp-social-link-facebook a {
  color: #1877f2;
}

.screen-reader-text {
  visibility: hidden;
  position: absolute;
}

.sponsor {
  margin-left: auto;
  flex-direction: row;
  display: flex;

  a {
    display: flex;
  }

  img {
    max-width: 140px;
    align-self: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}

@media (max-width: 1200px) {
  #telegram_li {
    margin-top: 10px;
  }

  .social_sponsor {
    flex-direction: column;
    align-items: center;
  }

  .sponsor {
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .license {
    text-align: center;
  }

  .container {
    width: auto;
  }
}

@media (max-width: 600px) {
  header {
    margin: 1rem 0px;
  }

  .section {
    padding: 0px;
  }

  .sponsor img {
    max-width: 100px;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .license {
    font-size: 18px;
  }

  #license_text {
    flex-direction: column;
    text-align: center;
    gap: 0.3em;
  }

  .source-link {
    margin-left: 0;
  }
}

@media (max-width: 350px) {
  .social-link a {
    width: 30px;
    height: 30px;
    font-size: 21px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .sponsor img {
    max-width: 80px;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .license {
    font-size: 16px;
  }

  #license_text {
    font-size: 14px;
    gap: 0.2em;
  }

  .sponsor {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

@media (max-width: 280px) {
  .sponsor img {
    max-width: 60px;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .license {
    font-size: 14px;
  }

  #license_text {
    font-size: 12px;
  }
}

@media (max-width: 230px) {
  #logo img {
    max-width: 100px;
  }

  .sponsor img {
    max-width: 50px;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .social-link a {
    width: 25px;
    height: 25px;
    font-size: 17px;

    svg {
      width: 15px;
      height: 15px;
    }
  }

  .license {
    font-size: 12px;
  }

  #license_text {
    font-size: 11px;
  }

  .sponsor {
    margin-top: 0;
  }
}
