<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>End Summer Camp &#8211; Hacking * Free Software * DIY</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="icon" type="image/png" href="/images/favicon/favicon_64.png" sizes="64x64">

    <meta name="keywords" content="ESC, Hacking, Free Software, DIY, End Summer Camp, Italian Community, non-profit">
    <meta name="description"
        content="ESC è un incontro non-profit di persone interessate all’Hacking, al Software Libero e al DIY.">
</head>

<body>
    <div class="container">
        <header>
            <a href="/" id="logo" aria-label="Home">
                <picture>
                    <source srcset="/images/ESC.png.webp" type="image/webp">
                    <source srcset="/images/ESC.png" type="image/png">
                    <img src="/images/ESC.png.webp" alt="Logo dell'End Summer Camp">
                </picture>
            </a>
            <a onclick="toggleMenu()" class="button button-overflow">&#8801;</a>
            <nav id="main-nav">
                <a href="https://pretalx.endsummer.camp/2K25/schedule/">Programma</a>
                <a href="/schedule">Contenuti</a>
                <a href="/campeggio">Camp</a>
                <a href="/faq">FAQ</a>
                <a href="https://www.endsummercamp.org/index.php/Main_Page">Archivio</a>
                <a href="http://t.me/endsummercamp" class="button telegram">Telegram</a>
            </nav>
        </header>

        <section class="section">
            {% block content %} {% endblock %}
        </section>

    </div>

    <footer>
        <div class="container social_sponsor">

            {% include "socials.html" %}

            <div class="sponsor">
                <a href="https://crunchlab.it/"><img src="/images/CRUNCHLAB.png.webp" alt="CRUNCHLAB"></a>
                <a href="https://redder.it/"><img src="/images/REDDER.png.webp" alt="REDDER"></a>
                <a href="https://blondbrothers.it/"><img src="/images/BLOND-BROTHERS.png.webp" alt="BLOND BROTHERS"></a>
            </div>

        </div>
        <div class="container license">
            <p id="license_text"> Copyright © 2005-2025 | End Summer Camp | CC BY-SA <span class="source-link"><a
                        href="https://github.com/endsummercamp/endsummercamp.github.io">Website Source</a></span>
            </p>
        </div>
    </footer>
    <script>
        function toggleMenu() {
            console.log("Menu toggled");
            const nav = document.querySelector("#main-nav");
            nav.classList.toggle("open");
        }
    </script>
</body>

</html>
