{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="index.css">
<link rel="stylesheet" href="lite-yt-embed.css" />
<script src="lite-yt-embed.js"></script>

<div id="main_container">
  <div id="main_content">
    <div id="youtube_frame">
      <lite-youtube videoid="UMzpQJ53cXQ" id="youtube"
        playlabel="End Summer Camp: Hacking, Free Software, DIY Since 2005"></lite-youtube>
    </div>
    <div id="main_text">
      End Summer Camp (ESC) è un incontro non-profit di persone interessate all’<a
        href="http://it.wikipedia.org/wiki/Hacking">Hacking</a>, al <a
        href="http://it.wikipedia.org/wiki/Copyleft">Software Libero</a> e al <a
        href="http://it.wikipedia.org/wiki/Maker">DIY</a>. Il contenuto
      dell’evento è in continua evoluzione e viene creato dai suoi partecipanti.
    </div>
  </div>
  <div id="right_content">
    <h1>End Summer Camp {21}</h1>

    <div id=date>2-7 Settembre 2025</div>
    <a href="https://www.openstreetmap.org/#map=18/45.63542/12.54626">Parco della Scultura in Architettura<br>
      San Donà di Piave (VE)</a><br>

    <div class="action-links">
      <a href="https://pretix.eu/ESC/2K25/" class="action-button ticket-button">Tickets</a>
      <a href="https://pretalx.endsummer.camp/2K25/schedule/" class="action-button ticket-button">Programma</a>
      <a href="https://pretalx.endsummer.camp/2K25/cfp" class="action-button ticket-button">Call for Papers</a>
    </div>

    <!-- Countdown Wrapper -->
    <div class="countdown-wrapper" id="countdown">
      <div class="time-block">
        <div class="time-number" id="days">0</div>
        <div class="time-label">Days</div>
      </div>
      <div class="time-block">
        <div class="time-number" id="hours">0</div>
        <div class="time-label">Hours</div>
      </div>
      <div class="time-block">
        <div class="time-number" id="minutes">0</div>
        <div class="time-label">Minutes</div>
      </div>
      <!-- <div class="time-block">
        <div class="time-number" id="seconds">0</div>
        <div class="time-label">Seconds</div>
      </div> -->
    </div>

    <!-- Where to show a finish message (optional) -->
    <div class="finished-message" id="finished-message"></div>
  </div>
</div>


<script>
  // Set the date we're counting down to
  var countDownDate = new Date("Sep 2, 2025 14:00:00").getTime();

  function f() {
    // Get today's date and time
    var now = new Date().getTime();

    // Find the distance between now and the count down date
    var distance = countDownDate - now;

    // If the countdown is finished
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("countdown").style.display = "none";
      document.getElementById("finished-message").innerHTML = "Time's up!";
      return;
    }

    // Time calculations for days, hours, minutes, seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor(
      (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
    );
    var minutes = Math.floor(
      (distance % (1000 * 60 * 60)) / (1000 * 60)
    );
    var seconds = Math.floor(
      (distance % (1000 * 60)) / 1000
    );

    // Update HTML elements
    document.getElementById("days").innerHTML = days;
    document.getElementById("hours").innerHTML = hours;
    document.getElementById("minutes").innerHTML = minutes;
    //document.getElementById("seconds").innerHTML = seconds;
  }

  // Update the count down every 1 minute
  var x = setInterval(f, 60000);

  f();
</script>


{% endblock content %}
